*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-image: url(/bg-white.jpg);
  background-size: cover;
}

:root {
  /* Colors */
  --color-primary: #69443c;
  --color-secondary: #ffffff;

  /* Spacing System */
  --space-2xs: 0.4rem;
  --space-xs: 0.8rem;
  --space-sm: 1.2rem;
  --space-md: 1.6rem;
  --space-lg: 2.4rem;
  --space-xl: 3.2rem;
  --space-2xl: 4.8rem;
  --space-3xl: 6.4rem;
  --space-4xl: 8rem;
  --space-5xl: 9.6rem;
  --space-6xl: 12.8rem;
}

.content-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 64rem;
  flex-direction: column;
  color: var(--color-primary);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.content-box h1 {
  font-family: "Chelsea Market";
  font-size: var(--space-4xl);
  width: 36%;
  text-align: center;
  padding: 1.6rem 0;
}

.content-box p:first-child {
  font-family: "IM Fell DW Pica SC";
  font-size: var(--space-md);
  padding: 1.6rem 0;
}

.content-box p:last-of-type {
  font-family: "Lustria ";
  font-size: var(--space-lg);
  text-align: center;
  width: 25%;
  padding: 3.2rem 0;
}

.socials {
  /* position: absolute; */
  bottom: var(--space-2xl);
  left: 50%;
  /* transform: translateX(-50%); */
  display: flex;
  gap: 1.6rem;
  align-items: center;
  margin-top: 4.8rem;
}

.social-link {
  text-decoration: none;
  display: inline-block;
  transition: transform 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.social-link:hover {
  transform: translateY(-0.4rem) scale(1.001);
}

.social-icon {
  width: 2.4rem;
  height: 2.4rem;
  opacity: 0.8;
  transition: opacity 0.2s ease;
}

.social-icon:hover {
  opacity: 1;
}

.button {
  position: relative;
  font: inherit;
  font-size: var(--space-md);
  background-color: var(--color-secondary);
  border: none;
  padding: 1rem 3.2rem;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  letter-spacing: 0.1rem;
  border-radius: 100rem;
  transform: perspective(1px) translateZ(0);
  overflow: hidden;
}

.button::before {
  content: "";
  position: absolute;
  z-index: -2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--color-primary);
  transform: scaleX(0);
  transform-origin: 50%;
  transition: transform 0.3s ease-out;
}

.button:hover,
.button:focus {
  color: var(--color-secondary);
}

.button:hover::before,
.button:focus::before {
  transform: scaleX(1);
}
